.main-button{
  background: var(--secondary-color);
    color: #fff;
    font-weight: 700;
    padding: 18px 30px;
    line-height: 1;
    font-size: 16px;
    border-radius: 30px;
    position: relative;
    z-index: 9;
    display: inline-block;
    white-space: nowrap;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    border: none;
    text-decoration: none;
       display: inline-flex;
    align-items: center;
    column-gap: 5px;
    span{

    }
}
.alternate-button{
    background: var(--primary-color);
    color: #fff;
    font-weight: 700;
    padding: 18px 30px;
    line-height: 1;
    font-size: 16px;
    border-radius: 30px;
    position: relative;
    z-index: 9;
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
    white-space: nowrap;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    border: none;
    text-decoration: none;
    span{

    }
}